:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  margin: 0 auto;
  padding: 0.2rem 1rem;
}

#btn {
  margin: 1em;
  padding: 0.6em 1em;
  background-color: lightskyblue;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 0.2rem;
  margin-bottom: 1.4em;
  box-shadow: 0 4px rgba(111, 172, 193, 1);
  position: relative;
  top: 0;
}

#btn:hover {
  top: 0;
  transform: unset;
  filter: brightness(0.96);
}

#btn:active {
  top: 2px;
  border: none;
  box-shadow: 0 2px rgba(111, 172, 193, 1);
  transform: translateY(2px);
  filter: brightness(0.96);
}

.input-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
}

.input-container > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* to make tweakpane move to left */
.tp-dfwv {
  left: 0;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
